/**
 * Copyright (C) 2020 Herobone & Aynril
 * 
 * This file is part of Lapislar.
 * 
 * Lapislar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Lapislar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Lapislar.  If not, see <http://www.gnu.org/licenses/>.
 */

.logo-header {
  border-radius: 0% 0% 50% 50%;
  height: 1.5em;
  width: 1.5em;
}

.app-profile-avatar-header {
  height: 1.5em;
  width: 1.5em;
}

.app-header-compensate {
  margin-top: 60px;
}

.app-header-compensate-large {
  margin-top: 12px;
}

.center-input {
  max-width: 60vw;
  margin: 3% auto 0 auto;
}

.id-input {
  text-transform:uppercase;
  text-align: center;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.id-input:focus {
  outline-width: 0;
}

.app-content {
  max-width: 1400px;
  margin-top: 80px;
}